body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.sort-container {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-bottom: 20px;
}

.site-navbar {
    background-color: #3d7a7c;
}

.site-navbar .nav-link {
    position: relative;
}

.site-navbar .nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

.site-navbar .nav-link:hover::after{
    width: 100%;
}


.nav-logo-img {
    height: 40px;
    width: auto;
}


.footer {
    background-color: #3d7a7c;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer a {
    color: #ffffff;      
    text-decoration: none;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px); /* lifts card */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.product-count {
    position: sticky;
    top: 100px;
    /* below header when scrolling */
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-weight: 600;
    margin-top: 30px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
}

.discounted-price {
    color: red;
    font-weight: bold;
}

.btn-brand {
    --bs-btn-bg: #176f8a;
    --bs-btn-border-color: #176f8a;
    --bs-btn-hover-bg: #062635;
    --bs-btn-hover-border-color: #062635;
}


.category-info {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.category-info h1 {
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 8px;
}

.category-info p {
    font-size: 16px;
    color: #555;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filters h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.filters label {
    margin-bottom: 10px;
    display: block;
}

.filters input,
.filters select {
    margin-left: 10px;
    margin-bottom: 10px;
}